.service-container {
    margin-top: 12px;
    margin-bottom: 12px;
}

.service-card {
    max-width: 30%;
    justify-content: space-between;
}

.health-section {
    height: max-content;
}

.is-healthy{
    color: green;
}

.is-not-healthy {
    color: red;
}

