.service-container {
    margin-top: 12px;
    margin-bottom: 12px;
}
.service-column {
    padding: 10px;
    justify-content: space-evenly;

}
.info-tiles{
    margin-top: 25px;
}

.service-card {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%;
}
.health-section {
    height: max-content;
}

.is-healthy{
    color: green;
}

.is-not-healthy {
    color: red;
}

