<app-frame></app-frame>
<section class="section">
	<div class="container">
		<h1 class="title">RM Categories</h1>
		<hr />
	</div>
</section>
<section class="section">
	<div class="container"></div>
</section>
<section class="section">
	<div class="container">
		<table class="table is-fullwidth">
			<thead>
				<tr>
					<th><abbr title="Edit"></abbr></th>
					<th><abbr title="Id">Id</abbr></th>
					<th><abbr title="Name">Name</abbr></th>
					<th><abbr title="Parent">Parent</abbr></th>
					<th><abbr title="Active">Active</abbr></th>
				</tr>
			</thead>
			<tr *ngFor="let category of categories | async">
				<td class="has-text-info-dark" (click)="openEditModal()">
					<fa-icon class="editButton" [icon]="editSymbol"></fa-icon>
				</td>
				<td>{{ category.category_id }}</td>
				<td>{{ category.name }}</td>
				<td>{{ category.parent_id }}</td>
				<td>{{ category.is_active }}</td>
			</tr>
		</table>
	</div>
</section>



